.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline:none;
}
/*----body----*/
body{
	background-color: #555555;
}

/*------- node menu -------*/

.node_main_menu_label{
	background-color: #CCCCCC;
	border-bottom: solid;
	border-width: 1px;
}

.node_menu_label:hover{
	background-color: #CCCCCC;
}
.node_menu_label{
	display: block;
	background-color: #888888;
}

/*-------- node parameters ---*/
.parameter_label{
	border: 1px solid #ccc;
}
select {
   /*background: transparent;*/
   border: 1px solid #ccc;
   float:right;
}
input {
	float:right;
}
[class*='_label_ui']{
	float:left;
} 
.slider_BG{
	height:22px;
	background-color:#ccc;
	float:right;
}
.slider_FG{
	height:20px;
	margin:1px;
	background-color:white;
	float:left;
}
.slider_IN{
	float:right;
	color:black;
	margin-right:2px;
}